<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content= "initial-scale=1, user-scalable=no">
	<title>フクレコ</title>
	<link rel="stylesheet" href="/static/common.css">
</head>
<body>
	<header>
		<h1>フクレコ</h1>
		<p>個人の体型に合わせた服装推薦システム</p>
	</header>
	<section>
	<p>利用規約に同意して</p>
	<a class="button" href="/upload">スタート</a>
	</section>
	<section>
	<h1>利用規約</h1>
	<p>
	我々は本システムによって生じた損害に対する一切の責任を負いません。アップロードされた画像はシステム以外の用途では利用しません。
	尚、本システムは複数の検索エンジンの検索結果を客観と見做し、それを基に服の推薦を行っているため服の適合度を保証するものではありません。
	</p>
	</section>
</body>
</html>
