<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content= "initial-scale=1, user-scalable=no">
	<title>アップロード - フクレコ</title>
	<link rel="stylesheet" href="/static/common.css">
</head>
<body>
	<form method="POST" action="/reco/men" enctype="multipart/form-data">
		<label>自撮りを撮影してね
		<input id="camera" type="file" accept="image/*;capture=camera"></label>
		<input type="submit" value="解析開始!">
	</form>
	<script>
		document.getElementById("camera").addEventListener("change", () => {
			let reader = new FileReader();
			reader.onload = (e) => {
				let image = document.createElement("img");
				document.body.appendChild(image);
				image.src = reader.result;
			}
			let file = document.getElementById("camera").files[0];
			reader.readAsDataURL(file);
		})
	</script>
</body>
</html>